<!-- Optional footer content -->
<div class="has-text-center">
    <a class="has-text-warning" href="https://github.com/leabs" target="_blank">GitHub</a>
    <span>
        |
    </span>
    <a class="has-text-warning" href="https://codepen.io/leab" target="_blank">CodePen</a>
    <span>
        |
    </span>
    <a class="has-text-warning" href="https://www.linkedin.com/in/stevenleabo/" target="_blank">LinkedIn</a>
    <span>
        |
    </span>
    <a class="has-text-warning" href="https://www.upwork.com/o/profiles/users/~011442e16729fe0928/" target="_blank">Upwork</a>
    <span>
        |
    </span>
    <a class="has-text-warning" href="contact.html">Contact Me</a>
</div>