<head>
    <link href="{{ site.url }}" rel="profile" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="Front-end web developer with over 3 years professional experience. I specialize in custom styling, fast secure static websites, and custom Wordpress sites." />
    <!-- Enable responsiveness on mobile devices-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />
    <title>
    {% if page.title == "Home" %} {{ site.title }}{% if site.tagline %} &middot; {{ site.tagline }}{% endif %} {% else %} {{ page.title }} &middot; {{ site.title }} {% endif %}
    </title>
    {% include google-analytics.html %}
    <!-- CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css" />
    <!--Google font-->
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <!-- Icons -->
    {% include favicons.html %}
    <!-- RSS -->
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/{{ site.feed.path | default: 'feed.xml' }}" /> {% include custom-head.html %}
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5DNT6Z4');</script>
    <!-- End Google Tag Manager -->
    <!--Scripts-->
    <!-- Open Graph data -->
    <meta property="og:title" content="{{ site.title }}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ site.url }}" />
    <meta property="og:image" content="{{ site.url }}/assets/images/stevenleabo-dot-com-social-image.png" />
    <meta property="og:description" content="Front-end web developer with over 3 years professional experience. I specialize in custom styling, fast secure static websites, and custom Wordpress sites." />
    <meta property="og:site_name" content="{{ site.title }}" />
    <meta name="twitter:title" content="{{ site.title }}">
    <meta name="twitter:description" content="Front-end web developer with over 3 years professional experience. I specialize in custom styling, fast secure static websites, and custom Wordpress sites.">
    <meta name="twitter:image" content="{{ site.url }}/assets/images/stevenleabo-dot-com-social-image.png">
    <meta name="twitter:image:alt" content="Steven Leabo dot com banner logo image">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@Shadow_Stack">
</head>