<!DOCTYPE html>
<html lang="en">
<head>
	<base href="/"> 
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge"> <!-- † -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>{{ page.title }} Steven Leabo</title>
	<meta  name="description" content="{{ site.description }}">
	<meta name="theme-color" content="#4285f4">
	<meta name="robots" content="index,follow"><!-- All Search Engines -->
	<meta name="googlebot" content="index,follow"><!-- Google Specific -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">


	
	<style>
	body,
html {
  margin: 0;
}



.is-sidebar-menu {
  padding: 2.5rem;
  background: #4a4a4a;
}
.is-sidebar-menu li a {
  color: white;
}

.columns.is-fullheight {
  min-height: calc(100vh - ( 3.25rem - .75rem ) );
  max-height: calc(100vh - ( 3.25rem - .75rem ) );
  height: calc(100vh - ( 3.25rem - .75rem ) );
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}
.columns.is-fullheight .column {
  overflow-y: auto;
}

.is-main-content {
  background: #dbdbdb;
}


</style>
</head>