<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}
  {% include scripts.html %}

  <body class="{{ page.layout }}{% if page.url == '/' %} home{% endif %}"  >
    <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5DNT6Z4"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
   
      {% include navbar.html %}
  

    <section class="hero is-medium is-light is-bold">
      
    

    <main class="container">
    	
      {{ content }}
    </main>

    {% include custom-foot.html %}
  </section>

  </body>
</html>
