---
layout: default
---
<section class="hero is-dark is-bold is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-3 has-text-centered">
          <img src="assets/images/me.jpeg" alt="me"
          style="border-radius:100%; width:80%; max-width:240px; display:inline-block; margin:0 auto; box-shadow: 0 10px 10px rgba(0,0,0,0.4);" />
        </div>
        <div class="column" style="margin-top:24px;">
          <h1 class="title">
          Steven Leabo
          </h1>
          <h2 class="subtitle">
          Web Developer
          </h2>
          <p>Front-end web developer with over 3 years professional experience. I specialize in custom styling, fast
          secure static websites, and custom Wordpress sites.</p>
          <a href="https://github.com/leabs" target="_blank" class="has-text-primary">GitHub</a><span> | </span>
          <a href="https://codepen.io/leab" target="_blank" class="has-text-primary">CodePen</a><span> | </span>
          <a href="https://www.linkedin.com/in/stevenleabo/" target="_blank" class="has-text-primary">LinkedIn</a><span> | </span>
          <a href="https://www.upwork.com/o/profiles/users/~011442e16729fe0928/" target="_blank" class="has-text-primary">Upwork</a><span>
        </div>
      </div>
      <h2 class="has-text-centered">Contact</h2>
      <form action="https://formspree.io/xaybppen" method="POST" style="max-width:600px;
        margin: 0 auto;">
        <div class="field">
          <label class="label has-text-white">Email:</label>
          <div class="control">
            <input class="input" type="text" placeholder="bob@aol.com" name="_replyto">
          </div>
          <br>
          <label class="label has-text-white">Message:</label>
          <div class="control">
            <textarea class="textarea" type="text" placeholder="Hey man" name="message" rows="3"></textarea>
          </div>
        </div>
        <div class="has-text-centered">
          <button class="button is-primary has-text-centered" type="submit">
          <strong>Send</strong>
          </button>
        </div>
      </form>
    </section>